
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img  class="avatar" src="./assets/img/logo.png"
      alt="">
      <span style="letter-spacing: 2px;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-weight: bold;">
        Acces Management System</span>
       
        <button mat-icon-button  (click)="drawer.toggle()" [disabled]="!isUserLoggedIn"><mat-icon>menu</mat-icon></button>
      <span class="spacer"></span>
      <app-select-language></app-select-language>
      <app-theme-menu *ngIf="options$ | async as options" [options]="options" (themeChange)="themeChangeHandler($event)">
      </app-theme-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <p style="text-align: center;margin-top:6px;font-weight: bold;color: #FF8500;vertical-align: middle;"><mat-icon matSuffix style="vertical-align: middle;" >person</mat-icon>{{username}}</p>
        <mat-divider ></mat-divider>
        <button mat-menu-item (click)="login()" [disabled]="isUserLoggedIn">
          <mat-icon>input</mat-icon>
          <span>{{'connect_header' | translate}}</span>
        </button>
        <button mat-menu-item  [disabled]="!isUserLoggedIn">
          <mat-icon>settings</mat-icon>
          <span>{{'param_header' | translate}}</span>
        </button>
        <button mat-menu-item [disabled]="!isUserLoggedIn" (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>{{'disco_header' | translate}}</span>
        </button>
      </mat-menu>
     
  
    </mat-toolbar-row>
  
  </mat-toolbar>


  <mat-sidenav-container  autosize >
    <mat-sidenav #drawer mode="side"  role="navigation" >
      <mat-nav-list>
       <!--<a mat-list-item routerLink='/homePage'>Home Page</a>--> 
        <button mat-menu-item routerLink='/homePage'  style=" padding-right: 60px;" >
          <mat-icon  matSuffix aria-hidden="false" >home</mat-icon>
          {{'menu_home' | translate}}
        </button>
        <mat-divider ></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="appMenu" *ngIf="getPrivs(6)">
          <mat-icon  matSuffix aria-hidden="false" >apps</mat-icon>
          {{'menu_apps' | translate}}
        </button>
        <mat-divider  *ngIf="getPrivs(6)"></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="roleMenu" *ngIf="getPrivs(107)">
          <mat-icon  matSuffix aria-hidden="false" >accessibility_new</mat-icon>
          {{'menu_roles' | translate}}
        </button>
        <mat-divider *ngIf="getPrivs(107)"></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="objectMenu" *ngIf="getPrivs(108)">
          <mat-icon  matSuffix aria-hidden="false" >category</mat-icon>
          {{'menu_objects' | translate}}
        </button>
        <mat-divider *ngIf="getPrivs(108)"></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="adminMenu" *ngIf="admin==1||getPrivs(109)" >
          <mat-icon  matSuffix aria-hidden="false" >supervisor_account</mat-icon>
          {{'menu_admin' | translate}}
        </button>
        <mat-divider *ngIf="admin==1||getPrivs(109)" ></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
   
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-menu #appMenu="matMenu"  xPosition="after">
    <button mat-menu-item  (click)="navToAppManag(0)"> {{'prod'|translate}}</button>
    <button mat-menu-item (click)="navToAppManag(1)">{{'pre_prod'|translate}}</button>
    <button mat-menu-item (click)="navToAppManag(2)">{{'dev'|translate}}</button>
   
  </mat-menu>
  <mat-menu #roleMenu="matMenu"  xPosition="after">
    <button mat-menu-item  (click)="navToRoleManag(0)"> {{'prod'|translate}}</button>
    <button mat-menu-item (click)="navToRoleManag(1)">{{'pre_prod'|translate}}</button>
    <button mat-menu-item (click)="navToRoleManag(2)">{{'dev'|translate}}</button>
   
  </mat-menu>
  <mat-menu #objectMenu="matMenu"  xPosition="after">
    <button mat-menu-item  (click)="navToObjectManag(0)"> {{'prod'|translate}}</button>
    <button mat-menu-item (click)="navToObjectManag(1)">{{'pre_prod'|translate}}</button>
    <button mat-menu-item (click)="navToObjectManag(2)">{{'dev'|translate}}</button>
   
  </mat-menu>

  <mat-menu #adminMenu="matMenu"  xPosition="after">
    <button mat-menu-item  (click)="navToAdminPage(0)"> {{'prod'|translate}}</button>
    <button mat-menu-item (click)="navToAdminPage(1)">{{'pre_prod'|translate}}</button>
    <button mat-menu-item (click)="navToAdminPage(2)">{{'dev'|translate}}</button>
   
  </mat-menu>