
     <igx-input-group type="search" class="search" >
        <igx-prefix>
            <igx-icon>search</igx-icon>
        </igx-prefix>
        <input #search igxInput placeholder="Search application" [(ngModel)]="searchApp">
        <igx-suffix *ngIf="search.value.length > 0" (click)="searchApp = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
    </igx-input-group>

<div class="list-sample">
<igx-list [displayDensity]="density" *ngIf="apps$ |  async as apps"  >
    <ng-template igxEmptyList>
        <p class="empty">{{'empty_list'|translate}} </p>
    </ng-template>
    <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
    *ngFor="let app of apps| igxFilter: filterApps ;">
        <igx-avatar igxListThumbnail [src]="app.iconurl" roundShape="true" ></igx-avatar>
        <span igxListLineTitle >{{ app.applicationtitle | translate }}</span>
        <span igxListLineSubTitle >{{app.applicationdesc  | translate}}</span>
        <igx-icon igxListAction 
        #tooltip="matTooltip"
        [matTooltip]="tooltipMsg|translate"
        [matTooltipPosition]="position"
        matTooltipHideDelay="1000"
        (click)="openSnackBar(app)">
        more_vert
    </igx-icon>
    

    </igx-list-item>
</igx-list></div>