
    <h1 mat-dialog-title>{{'role_select_title'|translate}}</h1>
    <div mat-dialog-content>
      
        <ul >
          <li  *ngFor="let role of data.roles; let i = index">
              <mat-checkbox   [checked]="selected === i" (change)="updateData(i)" >
              {{data.roles[i].descrole}}
              </mat-checkbox>
          </li>
      </ul> 
    
    
    
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="accent" (click)="onNoClick()" >{{'btn_role_select_cancel'|translate}}</button>
      <button mat-raised-button color="primary" (click)="accessApp()" [disabled]="selected==-1">{{'btn_role_select_valid'|translate}}</button>
    </div>

