.card-container {

    width: 300px;

   
    
    position: relative;

    -webkit-perspective: 500px;

    perspective: 500px;

}



.flippable-card {

    width: 100%;

    

    position: absolute;

    transform-style: preserve-3d;

    transition: transform 1s;

}



.flippable-card mat-card {

    margin: 0;

    display: block;

    position: absolute;

    width: 252px;

    

    backface-visibility: hidden;

}



.flippable-card .back {

    

    transform: rotateY( 180deg );

}



.flippable-card.flipped {

    transform: rotateY( 180deg );

}
.center {
    position: absolute;
    top: 10%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}