
<igx-list [displayDensity]="density"  >
 <ng-template igxEmptyList>
     <div class="igx-list__empty"></div>
   <!--  <igx-list-item></igx-list-item> -->
      <!-- <p class="empty">{{'empty_list'|translate}} </p> -->
    </ng-template>
  
    <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
      *ngFor="let app of data| igxFilter: filterApps ;"   [ngClass]="{'addPadding': app.roles.length!=0}">
      <igx-avatar igxListThumbnail [src]="app.iconurl" roundShape="true" *ngIf="app.roles.length!=0"></igx-avatar>
      <span igxListLineTitle *ngIf="app.roles.length!=0">{{ app.applicationtitle | translate }}</span>
      <span igxListLineSubTitle *ngIf="app.roles.length!=0">{{app.applicationdesc  | translate}}</span>
  
    <button igxListAction mat-flat-button color="accent" style=" margin: 5px;" (click)="openRoleSelect(app)"
    *ngIf="app.roles.length!=0">{{'access' | translate}}</button>
    <button igxListAction mat-mini-fab  color="warn" *ngIf="app.roles.length!=0" title="{{'withdraw_access'|translate}}" (click)="openEmailBox(app)">
      <mat-icon>delete_sweep</mat-icon>
    </button>
    <igx-icon igxListAction style=" margin: 5px;" *ngIf="app.roles.length!=0" #tooltip="matTooltip"
    [matTooltip]="tooltipMsg|translate" [matTooltipPosition]="position" matTooltipHideDelay="1000"
    (click)="openSnackBar(app)">
    more_vert
  </igx-icon>
   
    
       
  


    </igx-list-item>
  </igx-list>

  <igx-paginator #paginator
 [perPage]="10"
 [selectOptions]="itemsPerPage" 
[totalRecords]="applications.length"
  (perPageChange)="navigateToFirstPage()"
  style="margin-bottom: 8px;">
</igx-paginator> 

<!-- <ul *ngFor="let app of data">
    <li>{{app.applicationtitle}}</li>
</ul> -->



<!-- 
<div class="list-sample">
    <igx-list [displayDensity]="density">
        
        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item 
        *ngFor="let appli of data "  [ngClass]="{'addPadding': appli.roles.length!=0}">
        <igx-avatar igxListThumbnail [src]="appli.iconurl" roundShape="true"></igx-avatar>
            <span igxListLineTitle>{{ appli.applicationtitle |translate}}</span>
            <span igxListLineSubTitle>{{ appli.applicationdesc |translate}}</span>
            <igx-icon igxListAction [style.color]="appli.isFavorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(contact)">star</igx-icon>
        </igx-list-item>
    </igx-list>
    <igx-paginator #paginator
    [perPage]="10"
    [selectOptions]="itemsPerPage" 
   [totalRecords]="applications.length"
     (perPageChange)="navigateToFirstPage()"
     style="margin-bottom: 8px;">
   </igx-paginator> 
</div>


<p>{{applications.length}}</p> -->
