<mat-dialog-content  > 
    <strong> <p style="text-align: center; font-size: 30px; color: #EA4E4E ;margin:8px;" >Alert</p></strong>
    <p style="font-size: 22px; margin-top: 20px; " ><mat-icon style="color: #EA4E4E; vertical-align: middle;width:30px;height: 30px;">warning</mat-icon><span >{{data.message}}</span></p>
</mat-dialog-content>
<mat-dialog-actions  align="center" >
  <button mat-raised-button color="warn" mat-dialog-close> {{ 'close_alert'| translate}}</button>
</mat-dialog-actions >
