.list-sample {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    
}
igx-icon {
  cursor: pointer;
}
.search {
  margin-bottom: 16px;
  margin-top: 26px;
}


igx-list-item {
padding: 0px !important;
}
.addPadding{
padding: .5rem 1rem !important;
}