<mat-tab-group mat-align-tabs="center" style="margin-left: 45px;margin-right: 45px; margin-top: 25px;">
    <mat-tab *ngIf="getPrivs(7)">
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">get_app</mat-icon>
        {{'add_app' | translate}}
      </ng-template>
      
        <app-add-application></app-add-application>
         
       
      
    </mat-tab>
  
    <mat-tab *ngIf="getPrivs(8)">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">touch_app</mat-icon>
        {{'add_role' | translate}}
      </ng-template>
     <app-add-role-tab></app-add-role-tab>
  
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon  class="example-tab-icon"> category</mat-icon>
        
        {{'assoc_obj' | translate}}
      </ng-template>
     <app-assoc-obj-tab></app-assoc-obj-tab>
  
    </mat-tab>
    <mat-tab *ngIf="getPrivs(9)">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">accessibility_new</mat-icon>
          {{'affect_role' | translate}}
        </ng-template>
       <app-affect-role-tab></app-affect-role-tab>
    
      </mat-tab>


 
  </mat-tab-group>
