<mat-tab-group mat-align-tabs="center" style="margin-left: 45px;margin-right: 45px; margin-top: 25px;">
    <mat-tab *ngIf="getPrivs(7)">
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">get_app</mat-icon>
        {{'add_app' | translate}}
      </ng-template>
      
        <app-add-application></app-add-application>
         
       
      
    </mat-tab>
    <mat-tab  *ngIf="getPrivs(102)">
      <ng-template mat-tab-label  >
        <mat-icon class="example-tab-icon" aria-hidden="false">update</mat-icon>
        {{'update_app' | translate}}
      </ng-template>
      
       <app-list-app-to-update [mode]="mode"></app-list-app-to-update>
         
       
      
    </mat-tab>

    <mat-tab  *ngIf="getPrivs(103)">
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">delete</mat-icon>
        {{'delete_app' | translate}}
      </ng-template>
      
       <app-list-app-to-delete [mode]="mode"></app-list-app-to-delete>
         
       
      
    </mat-tab>
   
 
  </mat-tab-group>
